/* Define Everforest Colours */


/* ------------------------- */

* {
    font-family: 'SpaceMono Nerd Font';
    font-size: 14px;
    border: none;
    color: #A7c080;
}

window#waybar {
    background: rgba(45,59,53,0.5);
    border-radius: 25px;
}

#workspaces {
    margin: 0px 0px 0px 5px;
    padding: 5px;
}

#workspaces button {
    transition: none;
    border-radius: 50%;  /* Make it circular */
}

#workspaces button:hover{
    box-shadow: inherit;
    text-shadow: inherit;
    background: #425047;
}

#workspaces button.active{
    background: #A7C080;
}

#workspaces button.active label{
    color: rgba(43,59,53,1);
}

.modules-right {
    margin: 0px 5px 0px 0px;
    padding: 5px 0px 5px 0px;
}

.modules-right .module {
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.modules-right .module:hover {
   background: #425047;
}                              

.popup {
    background: rgba(45,53,59,1);
    border-radius: 15px;
}

#tray {
  border-radius: 15px;
  background: #3d484d;
}

#tray:hover {
  background: #2d353b;
}

tooltip {
  background: rgba(45,59,53,0.9);
}

#custom-power {
  font-family: 'Symbols Nerd Font';
  background: #425047;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-power:hover {
  background: #343F44;
}
